{% extends 'client/base.html' %}

{% block content %}
    <section class="services">
        <div class="container">
            <div class="section-title">
                <h2 style="margin-top: 150px;"> All Services</h2>
                <p style="color:white">Here are few services</p>
            </div>
            <div class="row justify-content-center">
                {% if services_all %}
                    {% for service in services_all %}
                        <div class="col-4 mt-3 mb-3">
                            <div class="card shadow text-center">
                                <a href="{% url 'service_details' service.id %}">
                                    <img class="mt-2" style="height: 300px; width: 300px; object-fit: contain;"
                                         src="/media/{{ service.image }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a
                                            href="{% url 'service_details' service.id %}">{{ service.title }}</a></h5>
                                    <p class="card-text">
                                        {% autoescape off %}
                                            {{ service.short_desc|truncatechars:100 }}{% endautoescape %}
                                    </p>
                                    <a href="{% url 'getservice' service.id %}" class="btn btn-outline-primary mt-4"
                                       >Get this
                                        Service</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>No Services this moment</div>
                {% endif %}
            </div>
        </div>
    </section><!-- End Services Section -->

{% endblock %}
