{% extends 'client/base.html' %}

{% block content %}
    <section id="departments" class="departments">
        <div class="container">
            <div class="section-title" style="padding-top: 74px;">
                <h2>Frequently Asked Questions</h2>
                <p> Here All Services Frequently Asked Questions and Answers</p>
                <br>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                     style="padding-left: 3rem!important;padding-right: 3rem!important; text-align: justify;margin-top:-75px;">
                    <div class="accordion" id="accordionExample">
                        {% for f in faq_all %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo{{ f.id }}">
                                    <a class="accordion-button collapsed" type="button"
                                       data-bs-toggle="collapse" data-bs-target="#collapseTwo{{ f.id }}"
                                       aria-expanded="false" aria-controls="collapseTwo{{ f.id }}">
                                        <p>{{ forloop.counter }}. &nbsp; {% autoescape off %}
                                            {{ f.question }} {% endautoescape %}</p>
                                    </a>
                                </h2>
                                <div id="collapseTwo{{ f.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="headingTwo{{ f.id }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% autoescape off %} {{ f.answer }} {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .accordion-button {
            padding: 4px 11px;
        !important;
        }
    </style>
{% endblock %}