{% extends 'client/base.html' %}
{% block content %}
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title" style="padding-top: 74px;">
                <h2>Make an Appointment</h2>
                <p>Please fill the form below for an appointment</p>
                <br>
                {% for s in service_get %}
                    <p style="background: #a6f1f0; font-weight: bold;">
                        Selected Service: {{ s.title }}</p>
                {% endfor %}
                {% if messages %}
                    {% for message in messages %}
                        <div id="message_container" class="alert alert-{{ message.tags }} alert-dismissible text-center"
                             role="alert">
                            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                                {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <form action="." method="post" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="name" class="form-control" name="name" id="name" placeholder="Your Full Name"
                               data-rule="minlen:3" data-msg="Please enter name correctly">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Mobile Number"
                               data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="district" class="form-control" name="district" id="district"
                               placeholder="Your District Name"
                               data-rule="minlen:3" data-msg="Please enter district name correctly">
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-2">Make an Appointment</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        var message_ele = document.getElementById("message_container");
        setTimeout(function () {
            message_ele.style.display = "none";
        }, 30000);
    </script>

{% endblock %}