{% extends 'client/base.html' %}
{% block content %}
    <!-- ======= Hero Section ======= -->

    <section id="hero" class="d-flex align-items-center"
             style="background:url('/media/{{ image_field }}') top center !important;">
        <div class="container" style="margin-top:60px;">
            <h1 style="color:white">Welcome to GetEasy Web</h1>
            <h6 style="color:white">{{ main_title }}</h6>
            <a href="{% url 'all_services' %}" class="btn-get-started scrollto">View All Services</a>
        </div>
    </section><!-- End Hero -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2 style="margin-top: 150px;">Services</h2>
                <p style="margin-bottom: 10px;">Here are few services</p>
            </div>
            <div class="row justify-content-center">
                {% if services_all %}
                    {% for service in services_all %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-3">
                            <div class="card shadow text-center" style="height: 550px">
                                <a href="{% url 'service_details' service.id %}">
                                    <img class="mt-2" style="height: 300px; width: 300px; object-fit: contain;"
                                         src="/media/{{ service.image }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a
                                            href="{% url 'service_details' service.id %}">{{ service.title }}</a>
                                    </h5>
                                    <p class="card-text">

                                        {{ service.short_desc|truncatechars:100 }}
                                    </p>
                                    <a href="{% url 'getservice' service.id %}"
                                       class="btn btn-outline-primary mt-4">Get
                                        this
                                        Service</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>No Services this moment</div>
                {% endif %}
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="section-title">
                <h2 style="margin-top: -50px">About</h2>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                     style="padding-left: 8rem!important;">
                    <p>{% autoescape off %}{{ about }}{% endautoescape %}</p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <style>
        .card {
            transition: border-color 1s, box-shadow 0.5s, background-color 1s;
        }

        .card:hover {
            border-color: rgba(13, 110, 253, 0.7);
            background: #d0e0fa;
            box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
        }
    </style>
{% endblock %}
