{% extends 'client/base.html' %}
{% block content %}
    <!-- ======= Hero Section ======= -->
    {% for data in home_details %}
        <section id="hero" class="d-flex align-items-center"
                 style="background:url('/media/{{ data.image }}') top center;">
            <div class="container" style="margin-top:60px;">
                <h1 style="color:white">Welcome to GetEasy Web</h1>
                <h2 style="color:white">{{ data.main_title }}</h2>
                <a href="#services" class="btn-get-started scrollto">View All Services</a>
            </div>
        </section><!-- End Hero -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
        <div class="container">

        <div class="section-title">
            <h2 style="color:white">Services</h2>
            <p style="color:white">Here are few services</p>
        </div>
        <div class="row">
            {% if services_all %}
                {% for service in services_all %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon">
                                <div>
                                    <img style="height: 150px; width: 250px;margin-bottom:54px"
                                         src="/media/{{ service.image }}">
                                </div>
                            </div>
                            <h4><a href="">{{ service.title }}</a></h4>
                            <p>{{ service.short_desc }}</p>
                            <a href="" class="btn btn-outline-success">Get this Service</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Services this moment</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
</section><!-- End Services Section -->

{% endblock %}
