<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>GetEasy</h3>
                    <p>
                        {{ request.session.address }}
                        <br><br>
                        <strong>Phone:</strong><a href="callto:{{ request.session.phone }}">{{ request.session.phone }}</a><br>
                        <strong>Email:</strong> <a href="mailto:{{ request.session.email }}">{{ request.session.email }}</a> <br>
                    </p><br>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'faq' %}">All F.A.Q <i class="fa fa-arrow-circle-right"></i> </a>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">
                                Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#" data-bs-toggle="modal"
                                                                   data-bs-target="#aboutusModal">About us</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#" data-bs-toggle="modal"
                                                                   data-bs-target="#privacyModal">Privacy policy</a>
                        </li>
                    </ul>
                </div>

                <!-- Modal Terms and Contions -->
                <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% autoescape off %}{{ request.session.terms }} {% endautoescape %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal About us -->
                <div class="modal fade" id="aboutusModal" tabindex="-1" aria-labelledby="aboutusModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="aboutusModalLabel">About Us</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% autoescape off %}{{ request.session.long_about }} {% endautoescape %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Privacy and policy -->
                <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="privacyModalLabel">Privacy and Policy</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% autoescape off %}{{ request.session.policy }} {% endautoescape %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        {% for service in services_all_yes %}
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="{% url 'service_details' service.id %}">{{ service.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>GetEasy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Developed by <a href="https://kazishuvo.herokuapp.com/" target="_blank">KS</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="sms:{{ request.session.whatsapp_link }}" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
            <a href="http://{{ request.session.facebook_link }}" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="http://{{ request.session.instagram_link }}" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="http://{{ request.session.linkedin_link }}" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
